
// VARS

$yellow: #ffc33f;
$orange: #e89223;
$light-green: #afd46a;
$green: #6d9e42;
$brown: #4c3f37;
$danger: #ff3860;

$novus: #4fb02b;
$metro: #fbc51d;
$auchan: #e2231a;


$white: #fff;
$white_25: #f7f5f5;
$whitish: #e8e8e8;
//$orange : #f37d3a;

//$yellow: #ffb33a;
$black: #262626;
$gray: #4f4f4f;

//$green: #3af361;
$grey: #7c7c7c;